@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

  li a .activeNav {
    color: orange;
    text-decoration: underline;
  }

.content {
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .hidden {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
  }
  